In [1]:
import pandas as pd
import numpy as np

In [2]:
def open_df(name):
    data=open(name,'rt')
    df_data=pd.read_csv(data,low_memory=False)
    return df_data

In [3]:
df_1=open_df('데이터/01_제공데이터_update(210811)/01_음식물쓰레기_FOOD_WASTE_210811_update.CSV')

In [4]:
df_2_1=pd.read_csv('데이터/01_제공데이터_update(210811)/02-1_내국인유동인구_KOREAN.CSV',encoding='euc-kr')

In [5]:
df_2_2=open_df('데이터/01_제공데이터_update(210811)/02-2_장기체류 외국인 유동인구_LONG_TERM_FRGN.CSV')

In [6]:
df_2_3=open_df('데이터/01_제공데이터_update(210811)/02-3_단기체류 외국인 유동인구_SHORT_TERM_FRGN.CSV')

In [7]:
df_1["base_date"]=pd.to_datetime(df_1['base_date'])
df_1['Year']=df_1['base_date'].dt.year
df_1['Month']=df_1['base_date'].dt.month

df_2_1["base_date"]=pd.to_datetime(df_2_1['base_date'])
df_2_1['Year']=df_2_1['base_date'].dt.year
df_2_1['Month']=df_2_1['base_date'].dt.month

df_2_2["base_date"]=pd.to_datetime(df_2_2['base_date'])
df_2_2['Year']=df_2_2['base_date'].dt.year
df_2_2['Month']=df_2_2['base_date'].dt.month

df_2_3["base_date"]=pd.to_datetime(df_2_3['base_date'])
df_2_3['Year']=df_2_3['base_date'].dt.year
df_2_3['Month']=df_2_3['base_date'].dt.month

In [8]:
idx=df_1[df_1['emd_nm']=='알수없음'].index
쓰레기양df=df_1.drop(idx)
쓰레기df=쓰레기양df.drop(["city", "emd_cd", "em_area_cd", "em_cnt","pay_amt"], axis=1)
쓰레기df=pd.DataFrame(쓰레기df.groupby(['Year','Month','emd_nm'])['em_g'].sum())
쓰레기df=쓰레기df.reset_index()

In [9]:
내국인=df_2_1.drop(['base_date', 'time', 'city', 'emd_cd', 'sex', 'age'],axis=1)
외국인장기=df_2_2.drop(['base_date', 'time', 'nationality', 'city', 'emd_cd'],axis=1)
외국인단기=df_2_3.drop(['base_date', 'time', 'nationality', 'city', 'emd_cd'],axis=1)

In [10]:
df_2_1_제주=내국인[내국인['resd']=='제주']
df_2_1_그외=내국인[내국인['resd']=='그외']

In [12]:
실제거주=df_2_1_제주
idx1=실제거주[실제거주['emd_nm']=='알수없음'].index
idx2=실제거주[실제거주['emd_nm']=='추자면'].index
idx3=실제거주[실제거주['emd_nm']=='우도면'].index
실제거주1=실제거주.drop(idx1)
실제거주2=실제거주1.drop(idx2)
실제거주3=실제거주2.drop(idx3)
실제거주df=실제거주3.reset_index()
내국인거주유동인구=실제거주df.groupby(['Year','Month','emd_nm'])[['resd_pop_cnt','work_pop_cnt','visit_pop_cnt']].mean()*18
내국인거주유동인구=내국인거주유동인구.reset_index()
내국인거주유동인구

      Year  Month emd_nm  resd_pop_cnt  work_pop_cnt  visit_pop_cnt
0     2018      1    건입동   6634.385743    853.143169    4394.226701
1     2018      1    구좌읍  10751.059765    819.083626    2524.198609
2     2018      1    남원읍  11624.075800    787.079521    3023.966455
3     2018      1    노형동  48798.691607   4403.744917   13686.256064
4     2018      1    대륜동  11121.290470    961.279589    4246.676715
...    ...    ...    ...           ...           ...            ...
1717  2021      6    표선면  10331.692764    689.110686    2227.452513
1718  2021      6    한경면   7149.598525    514.862133    1785.017288
1719  2021      6    한림읍  20015.878783   1464.381657    4071.582216
1720  2021      6    화북동  24796.636769   1616.807904    7632.003908
1721  2021      6    효돈동   3880.141514    172.792983    1028.800535

[1722 rows x 6 columns]

In [13]:
내국인관광=df_2_1_그외
idx1=내국인관광[내국인관광['emd_nm']=='알수없음'].index
idx2=내국인관광[내국인관광['emd_nm']=='추자면'].index
idx3=내국인관광[내국인관광['emd_nm']=='우도면'].index
내국인관광1=내국인관광.drop(idx1)
내국인관광2=내국인관광1.drop(idx2)
내국인관광3=내국인관광2.drop(idx3)
내국인관광df=내국인관광3.reset_index()
내국인관광유동인구=내국인관광df.groupby(['Year','Month','emd_nm'])[['resd_pop_cnt','work_pop_cnt','visit_pop_cnt']].mean()*18
내국인관광유동인구=내국인관광유동인구.reset_index()
내국인관광유동인구=내국인관광유동인구.drop('resd_pop_cnt',axis=1)
내국인관광유동인구

      Year  Month emd_nm  work_pop_cnt  visit_pop_cnt
0     2018      1    건입동     93.411009    2253.836991
1     2018      1    구좌읍    194.158283    4330.264092
2     2018      1    남원읍    143.623268    4442.467249
3     2018      1    노형동    424.598301    6837.728176
4     2018      1    대륜동    128.113466    4624.612552
...    ...    ...    ...           ...            ...
1717  2021      6    표선면    214.218649    4048.353335
1718  2021      6    한경면    107.343674    2332.464297
1719  2021      6    한림읍    413.853811    6899.167136
1720  2021      6    화북동    208.598656    1446.253715
1721  2021      6    효돈동     30.645732     661.193506

[1722 rows x 5 columns]

In [14]:
# 어차피 bsae_date로 데이터를 group화 한거라서 이렇게 한게 맞음.
idx1=외국인장기[외국인장기['emd_nm']=='알수없음'].index
idx2=외국인장기[외국인장기['emd_nm']=='추자면'].index
idx3=외국인장기[외국인장기['emd_nm']=='우도면'].index
외국인장기1=외국인장기.drop(idx1)
외국인장기2=외국인장기1.drop(idx2)
외국인장기3=외국인장기2.drop(idx3)
외국인장기df=외국인장기3.reset_index()
장기체류외국인=외국인장기df.groupby(['Year','Month','emd_nm'])[['resd_pop_cnt','work_pop_cnt','visit_pop_cnt']].mean()*19
장기체류외국인=장기체류외국인.reset_index()
장기체류외국인

      Year  Month emd_nm  resd_pop_cnt  work_pop_cnt  visit_pop_cnt
0     2018      1    건입동    163.093121     27.144504     184.660254
1     2018      1    구좌읍    255.778296     40.276986     153.384000
2     2018      1    남원읍    288.951820     43.206341     218.063492
3     2018      1    노형동   1292.023268    110.859093     385.681928
4     2018      1    대륜동    147.053194     13.896311     171.822528
...    ...    ...    ...           ...           ...            ...
1717  2021      6    표선면    129.481625     11.738374      98.368480
1718  2021      6    한경면    212.334862      8.806442     225.290512
1719  2021      6    한림읍    596.535460     37.609323     291.497778
1720  2021      6    화북동    234.070831     28.579051      68.653132
1721  2021      6    효돈동     89.266496      5.234106      56.919068

[1722 rows x 6 columns]

In [15]:
idx1=외국인단기[외국인단기['emd_nm']=='알수없음'].index
idx2=외국인단기[외국인단기['emd_nm']=='추자면'].index
idx3=외국인단기[외국인단기['emd_nm']=='우도면'].index
외국인단기1=외국인단기.drop(idx1)
외국인단기2=외국인단기1.drop(idx2)
외국인단기3=외국인단기2.drop(idx3)
외국인단기df=외국인단기3.reset_index()
단기체류외국인=외국인단기df.groupby(['Year','Month','emd_nm'])[['visit_pop_cnt']].mean()*19
단기체류외국인=단기체류외국인.reset_index()
단기체류외국인

      Year  Month emd_nm  visit_pop_cnt
0     2018      1    건입동     342.767185
1     2018      1    구좌읍     274.760955
2     2018      1    남원읍    1048.302685
3     2018      1    노형동     830.035215
4     2018      1    대륜동     259.061016
...    ...    ...    ...            ...
1717  2021      6    표선면      18.731057
1718  2021      6    한경면       9.151097
1719  2021      6    한림읍      16.992049
1720  2021      6    화북동       7.764423
1721  2021      6    효돈동       6.959309

[1722 rows x 4 columns]