In [1]:
import os

my_path="데이터/01_제공데이터_update(210811)"
my_paths = [ my_path + "/"+i for i in os.listdir(my_path)]
my_paths

['데이터/01_제공데이터_update(210811)/01_음식물쓰레기_FOOD_WASTE_210811_update.CSV',
 '데이터/01_제공데이터_update(210811)/02-1_내국인유동인구_KOREAN.CSV',
 '데이터/01_제공데이터_update(210811)/02-2_장기체류 외국인 유동인구_LONG_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/02-3_단기체류 외국인 유동인구_SHORT_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/03_거주인구_RESIDENT_POP.CSV',
 '데이터/01_제공데이터_update(210811)/04_음식관련 카드소비_CARD_SPENDING.CSV']

In [2]:
import pandas as pd
import numpy as np

In [20]:
df_1=pd.read_csv(my_paths[0], encoding='euc-kr')

C:\Users\HojunLee\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [21]:
df_1["base_date"]=pd.to_datetime(df_1['base_date'])
df_1['Year']=df_1['base_date'].dt.year
df_1['Month']=df_1['base_date'].dt.month

In [23]:
df_1 = pd.DataFrame(df_1.groupby(['Year','Month','emd_nm'])["em_g"].sum())
df_1 = df_1.reset_index()
df_1

      Year  Month emd_nm       em_g
0     2018      1    건입동   45646550
1     2018      1    남원읍   42437700
2     2018      1    노형동  265018400
3     2018      1    대륜동   57612600
4     2018      1    대정읍   38885550
...    ...    ...    ...        ...
1661  2021      6    표선면   42453750
1662  2021      6    한경면   27060150
1663  2021      6    한림읍   82746990
1664  2021      6    화북동  110750050
1665  2021      6    효돈동   27554100

[1666 rows x 4 columns]