In [1]:
import os

my_path="데이터/01_제공데이터_update(210811)"
my_paths = [ my_path + "/"+i for i in os.listdir(my_path)]
my_paths

['데이터/01_제공데이터_update(210811)/01_음식물쓰레기_FOOD_WASTE_210811_update.CSV',
 '데이터/01_제공데이터_update(210811)/02-1_내국인유동인구_KOREAN.CSV',
 '데이터/01_제공데이터_update(210811)/02-2_장기체류 외국인 유동인구_LONG_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/02-3_단기체류 외국인 유동인구_SHORT_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/03_거주인구_RESIDENT_POP.CSV',
 '데이터/01_제공데이터_update(210811)/04_음식관련 카드소비_CARD_SPENDING.CSV']

In [2]:
import pandas as pd
import numpy as np

In [6]:
df_1=pd.read_csv(my_paths[0], encoding='euc-kr')
df_4=pd.read_csv(my_paths[5], encoding='euc-kr')

C:\Users\HojunLee\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
left_df=df_1.drop(["city", "emd_cd", "em_area_cd", "em_cnt","pay_amt"], axis=1)
left_df=pd.DataFrame(left_df.groupby(['emd_nm', 'base_date'])['em_g'].sum())

df=df_4.drop(["city", "emd_cd", "mct_cat_cd", "use_amt"], axis=1)
df = pd.get_dummies(df, columns=['mct_cat_nm'])
df = df[df["emd_nm"] != "알수없음"]
df["간식"] = df["mct_cat_nm_간식"]*df["use_cnt"]
df["농축수산물"] = df["mct_cat_nm_농축수산물"]*df["use_cnt"]
df["마트/슈퍼마켓"] = df["mct_cat_nm_마트/슈퍼마켓"]*df["use_cnt"]
df["배달"] = df["mct_cat_nm_배달"]*df["use_cnt"]
df["부페"] = df["mct_cat_nm_부페"]*df["use_cnt"]
df["식품"] = df["mct_cat_nm_식품"]*df["use_cnt"]
df["아시아음식"] = df["mct_cat_nm_아시아음식"]*df["use_cnt"]
df["양식"] = df["mct_cat_nm_양식"]*df["use_cnt"]
df["주점및주류판매"] = df["mct_cat_nm_주점및주류판매"]*df["use_cnt"]
df["패스트푸드"] = df["mct_cat_nm_패스트푸드"]*df["use_cnt"]
df["한식"] = df["mct_cat_nm_한식"]*df["use_cnt"]
df = df.drop([
    "mct_cat_nm_간식","mct_cat_nm_농축수산물","mct_cat_nm_마트/슈퍼마켓", "mct_cat_nm_배달"
    ,"mct_cat_nm_부페", "mct_cat_nm_식품", "mct_cat_nm_아시아음식","mct_cat_nm_양식",
    "mct_cat_nm_주점및주류판매","mct_cat_nm_패스트푸드", "mct_cat_nm_한식", "use_cnt"
], axis=1)

right_df = pd.DataFrame(df.groupby(["emd_nm","base_date"]).sum())


waste_card_df = pd.merge(left=left_df, right= right_df, how="left", on=["emd_nm","base_date"])
waste_card_df=waste_card_df.reset_index()
waste_card_df["base_date"]=waste_card_df["base_date"].str[:-3]
waste_card_df_by_month = pd.DataFrame(waste_card_df.groupby(["emd_nm","base_date"]).sum())
waste_card_df_by_month=waste_card_df_by_month.reset_index()
df= waste_card_df_by_month.drop(waste_card_df_by_month[waste_card_df_by_month["emd_nm"]=="알수없음"].index)
df

,emd_nm,base_date,em_g,간식,농축수산물,마트/슈퍼마켓,배달,부페,식품,아시아음식,양식,주점및주류판매,패스트푸드,한식
0,건입동,2018-01,45646550,4540.0,1699.0,17547.0,585.0,55.0,5675.0,1961.0,1103.0,443.0,3430.0,20645.0
1,건입동,2018-02,42953550,3813.0,1857.0,15277.0,534.0,35.0,5133.0,1619.0,1028.0,371.0,3265.0,16989.0
2,건입동,2018-03,46422450,4531.0,1706.0,17327.0,714.0,25.0,6675.0,2303.0,1063.0,464.0,3865.0,21845.0
3,건입동,2018-04,42438700,4442.0,1821.0,18584.0,685.0,120.0,7334.0,2111.0,1141.0,455.0,3763.0,22796.0
4,건입동,2018-05,44893300,5044.0,2148.0,19218.0,719.0,110.0,8087.0,2472.0,1170.0,475.0,3839.0,24151.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,효돈동,2021-02,26128400,1256.0,921.0,7503.0,829.0,5.0,4057.0,678.0,210.0,95.0,1238.0,5726.0
1662,효돈동,2021-03,26845400,1362.0,1244.0,8631.0,946.0,0.0,4175.0,699.0,261.0,165.0,1343.0,7410.0
1663,효돈동,2021-04,25200200,1237.0,1181.0,8423.0,1130.0,0.0,4139.0,780.0,195.0,110.0,1192.0,7318.0
1664,효돈동,2021-05,21724850,1313.0,946.0,8659.0,1355.0,0.0,4297.0,645.0,220.0,145.0,1398.0,6265.0
1665,효돈동,2021-06,27554100,1135.0,940.0,8783.0,995.0,0.0,4219.0,720.0,225.0,105.0,1205.0,6258.0