# 필요한 데이터 추출

In [1]:
import os

my_path="데이터/01_제공데이터_update(210811)"
my_paths = [ my_path + "/"+i for i in os.listdir(my_path)]
my_paths

['데이터/01_제공데이터_update(210811)/01_음식물쓰레기_FOOD_WASTE_210811_update.CSV',
 '데이터/01_제공데이터_update(210811)/02-1_내국인유동인구_KOREAN.CSV',
 '데이터/01_제공데이터_update(210811)/02-2_장기체류 외국인 유동인구_LONG_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/02-3_단기체류 외국인 유동인구_SHORT_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/03_거주인구_RESIDENT_POP.CSV',
 '데이터/01_제공데이터_update(210811)/04_음식관련 카드소비_CARD_SPENDING.CSV']

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_1=pd.read_csv(my_paths[0], encoding='euc-kr')
df_4=pd.read_csv(my_paths[5], encoding='euc-kr')

C:\Users\HojunLee\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_1

          base_date city    emd_cd emd_nm em_area_cd  em_cnt    em_g  pay_amt
0        2018-01-01  제주시  50110670    외도동     W6X062       2   15500      464
1        2018-01-01  제주시  50110630    아라동     W6XA97      25   59800     1787
2        2018-01-01  제주시  50110630    아라동     W6XA96       8   25350      758
3        2018-01-01  제주시  50110630    아라동     W6XA95      12   30000      898
4        2018-01-01  제주시  50110630    아라동     W6XA94      14   44050     1317
...             ...  ...       ...    ...        ...     ...     ...      ...
2211440  2021-06-30  제주시  50110250    한림읍     W6XEB4      12   58250     1743
2211441  2021-06-30  제주시  50110250    한림읍     W6XEB7      15  111000     3326
2211442  2021-06-30  제주시  50110250    한림읍     W6XEB8      21   48300     1444
2211443  2021-06-30  제주시  50110250    한림읍     W6XEA2       5   22050      661
2211444  2021-06-30  제주시  50110640    오라동     W6XAD5       2    2900       87

[2211445 rows x 8 columns]

In [5]:
df_4

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt
0,2018-01-06,제주시,50110650,연동,C00100,한식,3643,127777300
1,2018-01-09,제주시,50110650,연동,C00500,패스트푸드,432,6711675
2,2018-01-15,제주시,50110650,연동,C01200,농축수산물,236,16089579
3,2018-01-15,제주시,50110650,연동,A00200,마트/슈퍼마켓,4031,121979867
4,2018-01-20,제주시,50110650,연동,C01000,식품,633,30410674
...,...,...,...,...,...,...,...,...
544800,2020-10-16,제주시,XXXXXXXX,알수없음,C01400,배달,5,127250
544801,2019-08-31,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,39974
544802,2020-10-03,서귀포시,XXXXXXXX,알수없음,C01400,배달,10,329832
544803,2020-10-23,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,68715
544804,2020-12-21,제주시,XXXXXXXX,알수없음,C01400,배달,10,187452

In [6]:
df_4_back_up= df_4.copy()
df_1_back_up= df_1.copy()

In [7]:
# df_4=df_4_back_up.copy()
df_1=df_1_back_up.copy()

In [8]:
left_df=df_1.drop(["city", "emd_cd", "em_area_cd", "em_cnt","pay_amt"], axis=1)
left_df=pd.DataFrame(left_df.groupby(['emd_nm', 'base_date'])['em_g'].sum())

df=df_4.drop(["city", "emd_cd", "mct_cat_cd", "use_amt"], axis=1)
df = pd.get_dummies(df, columns=['mct_cat_nm'])
df = df[df["emd_nm"] != "알수없음"]
df["간식"] = df["mct_cat_nm_간식"]*df["use_cnt"]
df["농축수산물"] = df["mct_cat_nm_농축수산물"]*df["use_cnt"]
df["마트/슈퍼마켓"] = df["mct_cat_nm_마트/슈퍼마켓"]*df["use_cnt"]
df["배달"] = df["mct_cat_nm_배달"]*df["use_cnt"]
df["부페"] = df["mct_cat_nm_부페"]*df["use_cnt"]
df["식품"] = df["mct_cat_nm_식품"]*df["use_cnt"]
df["아시아음식"] = df["mct_cat_nm_아시아음식"]*df["use_cnt"]
df["양식"] = df["mct_cat_nm_양식"]*df["use_cnt"]
df["주점및주류판매"] = df["mct_cat_nm_주점및주류판매"]*df["use_cnt"]
df["패스트푸드"] = df["mct_cat_nm_패스트푸드"]*df["use_cnt"]
df["한식"] = df["mct_cat_nm_한식"]*df["use_cnt"]
df = df.drop([
    "mct_cat_nm_간식","mct_cat_nm_농축수산물","mct_cat_nm_마트/슈퍼마켓", "mct_cat_nm_배달"
    ,"mct_cat_nm_부페", "mct_cat_nm_식품", "mct_cat_nm_아시아음식","mct_cat_nm_양식",
    "mct_cat_nm_주점및주류판매","mct_cat_nm_패스트푸드", "mct_cat_nm_한식", "use_cnt"
], axis=1)

right_df = pd.DataFrame(df.groupby(["emd_nm","base_date"]).sum())


waste_card_df = pd.merge(left=left_df, right= right_df, how="left", on=["emd_nm","base_date"])
waste_card_df=waste_card_df.reset_index()
waste_card_df["base_date"]=waste_card_df["base_date"].str[:-3]
waste_card_df_by_month = pd.DataFrame(waste_card_df.groupby(["emd_nm","base_date"]).sum())
waste_card_df_by_month=waste_card_df_by_month.reset_index()
df= waste_card_df_by_month.drop(waste_card_df_by_month[waste_card_df_by_month["emd_nm"]=="알수없음"].index)
df

,emd_nm,base_date,em_g,간식,농축수산물,마트/슈퍼마켓,배달,부페,식품,아시아음식,양식,주점및주류판매,패스트푸드,한식
0,건입동,2018-01,45646550,4540.0,1699.0,17547.0,585.0,55.0,5675.0,1961.0,1103.0,443.0,3430.0,20645.0
1,건입동,2018-02,42953550,3813.0,1857.0,15277.0,534.0,35.0,5133.0,1619.0,1028.0,371.0,3265.0,16989.0
2,건입동,2018-03,46422450,4531.0,1706.0,17327.0,714.0,25.0,6675.0,2303.0,1063.0,464.0,3865.0,21845.0
3,건입동,2018-04,42438700,4442.0,1821.0,18584.0,685.0,120.0,7334.0,2111.0,1141.0,455.0,3763.0,22796.0
4,건입동,2018-05,44893300,5044.0,2148.0,19218.0,719.0,110.0,8087.0,2472.0,1170.0,475.0,3839.0,24151.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,효돈동,2021-02,26128400,1256.0,921.0,7503.0,829.0,5.0,4057.0,678.0,210.0,95.0,1238.0,5726.0
1662,효돈동,2021-03,26845400,1362.0,1244.0,8631.0,946.0,0.0,4175.0,699.0,261.0,165.0,1343.0,7410.0
1663,효돈동,2021-04,25200200,1237.0,1181.0,8423.0,1130.0,0.0,4139.0,780.0,195.0,110.0,1192.0,7318.0
1664,효돈동,2021-05,21724850,1313.0,946.0,8659.0,1355.0,0.0,4297.0,645.0,220.0,145.0,1398.0,6265.0
1665,효돈동,2021-06,27554100,1135.0,940.0,8783.0,995.0,0.0,4219.0,720.0,225.0,105.0,1205.0,6258.0

In [9]:
df[df["emd_nm"]=="알수없음"]

Empty DataFrame
Columns: [emd_nm, base_date, em_g, 간식, 농축수산물, 마트/슈퍼마켓, 배달, 부페, 식품, 아시아음식, 양식, 주점및주류판매, 패스트푸드, 한식]
Index: []

# 모델로 학습

## 데이터 준비

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [11]:
target = df['em_g']
data = df[df.drop(['em_g','emd_nm','base_date'],axis=1).columns]
data.shape, target.shape

((1634, 11), (1634,))

In [12]:
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=34)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((1307, 11), (327, 11), (1307,), (327,))

In [13]:
poly = PolynomialFeatures(2) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x2_train, x2_test, y2_train, y2_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x2_train.shape,x2_test.shape,y2_train.shape,y2_test.shape)

poly = PolynomialFeatures(3) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x3_train, x3_test, y3_train, y3_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x3_train.shape,x3_test.shape,y3_train.shape,y3_test.shape)

poly = PolynomialFeatures(4) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x4_train, x4_test, y4_train, y4_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x4_train.shape,x4_test.shape,y4_train.shape,y4_test.shape)

poly = PolynomialFeatures(5) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x5_train, x5_test, y5_train, y5_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x5_train.shape,x5_test.shape,y5_train.shape,y5_test.shape)

poly = PolynomialFeatures(6) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x6_train, x6_test, y6_train, y6_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x6_train.shape,x6_test.shape,y6_train.shape,y6_test.shape)

(1307, 78) (327, 78) (1307,) (327,)
(1307, 364) (327, 364) (1307,) (327,)
(1307, 1365) (327, 1365) (1307,) (327,)
(1307, 4368) (327, 4368) (1307,) (327,)
(1307, 12376) (327, 12376) (1307,) (327,)

## LR L1

In [14]:
model_L1 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L1.fit(x_train, y_train)
model_L2 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L2.fit(x2_train, y2_train)
model_L3 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L3.fit(x3_train, y3_train)
model_L4 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L4.fit(x4_train, y4_train)
model_L5 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L5.fit(x5_train, y5_train)
model_L6 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L6.fit(x6_train, y6_train)

C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.7219519695120906e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.1444880472606606e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 9.451037973505424e+16, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 8.736847258661856e+16, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 8.239706142592502e+16, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7.941937161655563e+16, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.001, normalize=True)

In [15]:
print(
model_L1.score(x_test,y_test),
model_L2.score(x2_test,y2_test),
model_L3.score(x3_test,y3_test),
model_L4.score(x4_test,y4_test),
model_L5.score(x5_test,y5_test),
model_L6.score(x6_test,y6_test),
sep="\n"
)

0.9116561690127699
0.9387699640655383
0.9459556647489648
0.9471863568866777
0.9430011251228174
0.9301878158354923

## LR L2

In [16]:
model_R1 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R1.fit(x_train, y_train)
model_R2 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R2.fit(x2_train, y2_train)
model_R3 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R3.fit(x3_train, y3_train)
model_R4 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R4.fit(x4_train, y4_train)
model_R5 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R5.fit(x5_train, y5_train)
model_R6 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R6.fit(x6_train, y6_train)

Ridge(alpha=0.001, max_iter=1000, normalize=True)

In [17]:
print(
model_R1.score(x_test,y_test),
model_R2.score(x2_test,y2_test),
model_R3.score(x3_test,y3_test),
model_R4.score(x4_test,y4_test),
model_R5.score(x5_test,y5_test),
model_R6.score(x6_test,y6_test),
sep="\n"
)

0.9118957617535459
0.9374655396432262
0.9463823104785165
0.9474170427987999
0.9428554682444124
0.9033063214326413

## Random Forest

In [18]:
model_randomForest = RandomForestRegressor() # 생성할 트리 개수가 얼만큼이 좋은지 모르겠음
model_randomForest.fit(x_train, y_train)
model_randomForest.score(x_test,y_test)

0.9669904942401504

# 저장

In [19]:
import joblib

In [20]:
joblib.dump(model_randomForest, '모델/카드소비량 분석_RF.pkl')

['모델/카드소비량 분석_RF.pkl']

In [21]:
df.to_csv("csv/카드소비량 분석.csv",  index=False)