# 필요한 데이터 추출

In [4]:
import os

my_path="데이터/01_제공데이터_update(210811)"
my_paths = [ my_path + "/"+i for i in os.listdir(my_path)]
my_paths

['데이터/01_제공데이터_update(210811)/01_음식물쓰레기_FOOD_WASTE_210811_update.CSV',
 '데이터/01_제공데이터_update(210811)/02-1_내국인유동인구_KOREAN.CSV',
 '데이터/01_제공데이터_update(210811)/02-2_장기체류 외국인 유동인구_LONG_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/02-3_단기체류 외국인 유동인구_SHORT_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/03_거주인구_RESIDENT_POP.CSV',
 '데이터/01_제공데이터_update(210811)/04_음식관련 카드소비_CARD_SPENDING.CSV']

In [5]:
import pandas as pd
import numpy as np

In [21]:
df_1=pd.read_csv(my_paths[0], encoding='euc-kr')
df_2_1=pd.read_csv(my_paths[1], encoding='euc-kr')
df_2_2=pd.read_csv(my_paths[2], encoding='euc-kr')
df_2_3=pd.read_csv(my_paths[3], encoding='euc-kr')

C:\Users\HojunLee\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
df_2_1["base_date"]=pd.to_datetime(df_2_1['base_date'])
df_2_1['Year']=df_2_1['base_date'].dt.year
df_2_1['Month']=df_2_1['base_date'].dt.month

df_2_2["base_date"]=pd.to_datetime(df_2_2['base_date'])
df_2_2['Year']=df_2_2['base_date'].dt.year
df_2_2['Month']=df_2_2['base_date'].dt.month

df_2_3["base_date"]=pd.to_datetime(df_2_3['base_date'])
df_2_3['Year']=df_2_3['base_date'].dt.year
df_2_3['Month']=df_2_3['base_date'].dt.month

In [24]:
df_2_1_제주=df_2_1[df_2_1['resd']=='제주']
df_2_1_그외=df_2_1[df_2_1['resd']=='그외']

In [25]:
df_2_1_제주=df_2_1_제주.drop(df_2_1_제주[(df_2_1_제주['emd_nm']=='알수없음')|(df_2_1_제주['emd_nm']=='추자면')|(df_2_1_제주['emd_nm']=='우도면')].index)

내국인거주유동인구=df_2_1_제주.groupby(['Year','Month','emd_nm'])[['resd_pop_cnt','work_pop_cnt','visit_pop_cnt']].mean()*18
내국인거주유동인구=내국인거주유동인구.reset_index()
내국인거주유동인구

      Year  Month emd_nm  resd_pop_cnt  work_pop_cnt  visit_pop_cnt
0     2018      1    건입동   6634.385743    853.143169    4394.226701
1     2018      1    구좌읍  10751.059765    819.083626    2524.198609
2     2018      1    남원읍  11624.075800    787.079521    3023.966455
3     2018      1    노형동  48798.691607   4403.744917   13686.256064
4     2018      1    대륜동  11121.290470    961.279589    4246.676715
...    ...    ...    ...           ...           ...            ...
1717  2021      6    표선면  10331.692764    689.110686    2227.452513
1718  2021      6    한경면   7149.598525    514.862133    1785.017288
1719  2021      6    한림읍  20015.878783   1464.381657    4071.582216
1720  2021      6    화북동  24796.636769   1616.807904    7632.003908
1721  2021      6    효돈동   3880.141514    172.792983    1028.800535

[1722 rows x 6 columns]

In [26]:
내국인관광유동인구=df_2_1_그외.drop(df_2_1_그외[(df_2_1_그외['emd_nm']=='알수없음')|(df_2_1_그외['emd_nm']=='추자면')|(df_2_1_그외['emd_nm']=='우도면')].index)


내국인관광유동인구=내국인관광유동인구.groupby(['Year','Month','emd_nm'])[['resd_pop_cnt','work_pop_cnt','visit_pop_cnt']].mean()*18
내국인관광유동인구=내국인관광유동인구.reset_index()
내국인관광유동인구=내국인관광유동인구.drop('resd_pop_cnt',axis=1)
내국인관광유동인구

      Year  Month emd_nm  work_pop_cnt  visit_pop_cnt
0     2018      1    건입동     93.411009    2253.836991
1     2018      1    구좌읍    194.158283    4330.264092
2     2018      1    남원읍    143.623268    4442.467249
3     2018      1    노형동    424.598301    6837.728176
4     2018      1    대륜동    128.113466    4624.612552
...    ...    ...    ...           ...            ...
1717  2021      6    표선면    214.218649    4048.353335
1718  2021      6    한경면    107.343674    2332.464297
1719  2021      6    한림읍    413.853811    6899.167136
1720  2021      6    화북동    208.598656    1446.253715
1721  2021      6    효돈동     30.645732     661.193506

[1722 rows x 5 columns]

In [27]:
장기체류외국인=df_2_2.drop(df_2_2[(df_2_2['emd_nm']=='알수없음')|(df_2_2['emd_nm']=='추자면')|(df_2_2['emd_nm']=='우도면')].index)

장기체류외국인=장기체류외국인.groupby(['Year','Month','emd_nm'])[['resd_pop_cnt','work_pop_cnt','visit_pop_cnt']].mean()*19
장기체류외국인=장기체류외국인.reset_index()
장기체류외국인

      Year  Month emd_nm  resd_pop_cnt  work_pop_cnt  visit_pop_cnt
0     2018      1    건입동    163.093121     27.144504     184.660254
1     2018      1    구좌읍    255.778296     40.276986     153.384000
2     2018      1    남원읍    288.951820     43.206341     218.063492
3     2018      1    노형동   1292.023268    110.859093     385.681928
4     2018      1    대륜동    147.053194     13.896311     171.822528
...    ...    ...    ...           ...           ...            ...
1717  2021      6    표선면    129.481625     11.738374      98.368480
1718  2021      6    한경면    212.334862      8.806442     225.290512
1719  2021      6    한림읍    596.535460     37.609323     291.497778
1720  2021      6    화북동    234.070831     28.579051      68.653132
1721  2021      6    효돈동     89.266496      5.234106      56.919068

[1722 rows x 6 columns]

In [28]:
# 19는 나라 개수이다
단기체류외국인=df_2_3.drop(df_2_3[(df_2_3['emd_nm']=='알수없음')|(df_2_3['emd_nm']=='추자면')|(df_2_3['emd_nm']=='우도면')].index)

단기체류외국인=단기체류외국인.groupby(['Year','Month','emd_nm'])[['visit_pop_cnt']].mean()*19
단기체류외국인=단기체류외국인.reset_index()
단기체류외국인

      Year  Month emd_nm  visit_pop_cnt
0     2018      1    건입동     342.767185
1     2018      1    구좌읍     274.760955
2     2018      1    남원읍    1048.302685
3     2018      1    노형동     830.035215
4     2018      1    대륜동     259.061016
...    ...    ...    ...            ...
1717  2021      6    표선면      18.731057
1718  2021      6    한경면       9.151097
1719  2021      6    한림읍      16.992049
1720  2021      6    화북동       7.764423
1721  2021      6    효돈동       6.959309

[1722 rows x 4 columns]

In [29]:
내국인거주유동인구.columns=['Year','Month','emd_nm','내국인R','내국인W','내국인V']
내국인관광유동인구.columns=['Year','Month','emd_nm','내국인관광W','내국인관광V']
장기체류외국인.columns=['Year','Month','emd_nm','장기외국인R','장기외국인W','장기외국인V']
단기체류외국인.columns=['Year','Month','emd_nm','단기외국인V']

In [30]:
내국인관광유동인구=내국인관광유동인구.drop(['Year','Month','emd_nm'],axis=1)
장기체류외국인=장기체류외국인.drop(['Year','Month','emd_nm'],axis=1)
단기체류외국인=단기체류외국인.drop(['Year','Month','emd_nm'],axis=1)

In [31]:
유동인구_df=pd.concat([내국인거주유동인구,내국인관광유동인구,장기체류외국인,단기체류외국인],axis=1)
유동인구_df

,Year,Month,emd_nm,내국인R,내국인W,내국인V,내국인관광W,내국인관광V,장기외국인R,장기외국인W,장기외국인V,단기외국인V
0,2018,1,건입동,6634.385743,853.143169,4394.226701,93.411009,2253.836991,163.093121,27.144504,184.660254,342.767185
1,2018,1,구좌읍,10751.059765,819.083626,2524.198609,194.158283,4330.264092,255.778296,40.276986,153.384000,274.760955
2,2018,1,남원읍,11624.075800,787.079521,3023.966455,143.623268,4442.467249,288.951820,43.206341,218.063492,1048.302685
3,2018,1,노형동,48798.691607,4403.744917,13686.256064,424.598301,6837.728176,1292.023268,110.859093,385.681928,830.035215
4,2018,1,대륜동,11121.290470,961.279589,4246.676715,128.113466,4624.612552,147.053194,13.896311,171.822528,259.061016
...,...,...,...,...,...,...,...,...,...,...,...,...
1717,2021,6,표선면,10331.692764,689.110686,2227.452513,214.218649,4048.353335,129.481625,11.738374,98.368480,18.731057
1718,2021,6,한경면,7149.598525,514.862133,1785.017288,107.343674,2332.464297,212.334862,8.806442,225.290512,9.151097
1719,2021,6,한림읍,20015.878783,1464.381657,4071.582216,413.853811,6899.167136,596.535460,37.609323,291.497778,16.992049
1720,2021,6,화북동,24796.636769,1616.807904,7632.003908,208.598656,1446.253715,234.070831,28.579051,68.653132,7.764423
1721,2021,6,효돈동,3880.141514,172.792983,1028.800535,30.645732,661.193506,89.266496,5.234106,56.919068,6.959309

In [32]:
유동인구_df = 유동인구_df.astype({
    'Year':"str",
    'Month':"str",
})
유동인구_df['Month'] = 유동인구_df['Month'].str.zfill(2)
유동인구_df["base_date"]= 유동인구_df['Year'] +"-"+ 유동인구_df['Month']
유동인구_df=유동인구_df.drop(["Year","Month"],axis=1)
유동인구_df

,emd_nm,내국인R,내국인W,내국인V,내국인관광W,내국인관광V,장기외국인R,장기외국인W,장기외국인V,단기외국인V,base_date
0,건입동,6634.385743,853.143169,4394.226701,93.411009,2253.836991,163.093121,27.144504,184.660254,342.767185,2018-01
1,구좌읍,10751.059765,819.083626,2524.198609,194.158283,4330.264092,255.778296,40.276986,153.384000,274.760955,2018-01
2,남원읍,11624.075800,787.079521,3023.966455,143.623268,4442.467249,288.951820,43.206341,218.063492,1048.302685,2018-01
3,노형동,48798.691607,4403.744917,13686.256064,424.598301,6837.728176,1292.023268,110.859093,385.681928,830.035215,2018-01
4,대륜동,11121.290470,961.279589,4246.676715,128.113466,4624.612552,147.053194,13.896311,171.822528,259.061016,2018-01
...,...,...,...,...,...,...,...,...,...,...,...
1717,표선면,10331.692764,689.110686,2227.452513,214.218649,4048.353335,129.481625,11.738374,98.368480,18.731057,2021-06
1718,한경면,7149.598525,514.862133,1785.017288,107.343674,2332.464297,212.334862,8.806442,225.290512,9.151097,2021-06
1719,한림읍,20015.878783,1464.381657,4071.582216,413.853811,6899.167136,596.535460,37.609323,291.497778,16.992049,2021-06
1720,화북동,24796.636769,1616.807904,7632.003908,208.598656,1446.253715,234.070831,28.579051,68.653132,7.764423,2021-06
1721,효돈동,3880.141514,172.792983,1028.800535,30.645732,661.193506,89.266496,5.234106,56.919068,6.959309,2021-06

In [33]:
df_1=df_1.drop(["city", "emd_cd", "em_area_cd", "em_cnt","pay_amt"], axis=1)
df_1['base_date'] = df_1['base_date'].str[:-3]
left_df=pd.DataFrame(df_1.groupby(['emd_nm', 'base_date'])['em_g'].sum())
left_df

                      em_g
emd_nm base_date
건입동    2018-01    45646550
       2018-02    42953550
       2018-03    46422450
       2018-04    42438700
       2018-05    44893300
...                    ...
효돈동    2021-02    26128400
       2021-03    26845400
       2021-04    25200200
       2021-05    21724850
       2021-06    27554100

[1666 rows x 1 columns]

In [34]:
df = pd.merge(left=left_df, right= 유동인구_df, how="left", on=["emd_nm","base_date"])
df=df.drop(df[df['emd_nm']=='알수없음'].index)
df

,emd_nm,base_date,em_g,내국인R,내국인W,내국인V,내국인관광W,내국인관광V,장기외국인R,장기외국인W,장기외국인V,단기외국인V
0,건입동,2018-01,45646550,6634.385743,853.143169,4394.226701,93.411009,2253.836991,163.093121,27.144504,184.660254,342.767185
1,건입동,2018-02,42953550,6792.429996,792.931207,4527.444740,72.605952,2086.436947,157.634191,25.059835,183.592907,407.349539
2,건입동,2018-03,46422450,6255.543504,844.365122,4492.754083,106.277464,1956.448967,157.744661,29.840575,179.973544,414.803235
3,건입동,2018-04,42438700,6147.776649,939.940213,4525.147147,90.625671,2200.409723,133.786537,23.023440,227.216227,492.573132
4,건입동,2018-05,44893300,6110.920450,911.932184,4673.567634,108.137345,2097.448691,158.017456,24.926140,184.512309,503.145429
...,...,...,...,...,...,...,...,...,...,...,...,...
1661,효돈동,2021-02,26128400,4067.873085,232.546457,1159.486708,25.547514,651.440943,107.642637,4.878595,55.161607,7.359677
1662,효돈동,2021-03,26845400,3820.298081,177.335442,1031.145764,27.071834,556.202510,95.738687,7.235740,59.334480,17.995356
1663,효돈동,2021-04,25200200,3798.216557,204.331082,986.355817,34.296987,669.338692,98.359823,6.412340,60.850661,16.514391
1664,효돈동,2021-05,21724850,3913.006223,177.050383,1005.330990,29.105367,685.551231,67.814038,3.943131,73.774356,14.754432
1665,효돈동,2021-06,27554100,3880.141514,172.792983,1028.800535,30.645732,661.193506,89.266496,5.234106,56.919068,6.959309

# 모델로 학습

## 데이터 준비

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [36]:
target = df['em_g']
data = df[df.drop(['em_g','emd_nm','base_date'],axis=1).columns]
data.shape, target.shape

((1634, 9), (1634,))

In [37]:
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=34)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((1307, 9), (327, 9), (1307,), (327,))

In [38]:
poly = PolynomialFeatures(2) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x2_train, x2_test, y2_train, y2_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x2_train.shape,x2_test.shape,y2_train.shape,y2_test.shape)

poly = PolynomialFeatures(3) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x3_train, x3_test, y3_train, y3_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x3_train.shape,x3_test.shape,y3_train.shape,y3_test.shape)

poly = PolynomialFeatures(4) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x4_train, x4_test, y4_train, y4_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x4_train.shape,x4_test.shape,y4_train.shape,y4_test.shape)

poly = PolynomialFeatures(5) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x5_train, x5_test, y5_train, y5_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x5_train.shape,x5_test.shape,y5_train.shape,y5_test.shape)

poly = PolynomialFeatures(6) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x6_train, x6_test, y6_train, y6_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x6_train.shape,x6_test.shape,y6_train.shape,y6_test.shape)

(1307, 55) (327, 55) (1307,) (327,)
(1307, 220) (327, 220) (1307,) (327,)
(1307, 715) (327, 715) (1307,) (327,)
(1307, 2002) (327, 2002) (1307,) (327,)
(1307, 5005) (327, 5005) (1307,) (327,)

## LR L1

In [39]:
model_L1 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L1.fit(x_train, y_train)
model_L2 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L2.fit(x2_train, y2_train)
model_L3 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L3.fit(x3_train, y3_train)
model_L4 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L4.fit(x4_train, y4_train)
model_L5 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L5.fit(x5_train, y5_train)
model_L6 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L6.fit(x6_train, y6_train)

C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.203040544782063e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.4379145767846218e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.3034655404670349e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.1914864375535658e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.1052073062515309e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.001, normalize=True)

In [40]:
print(
model_L1.score(x_test,y_test),
model_L2.score(x2_test,y2_test),
model_L3.score(x3_test,y3_test),
model_L4.score(x4_test,y4_test),
model_L5.score(x5_test,y5_test),
model_L6.score(x6_test,y6_test),
sep="\n"
)

0.81508832830993
0.898075140694954
0.9301459942442997
0.9151984050290067
0.9009583366811529
0.839708821502132

## LR L2

In [41]:
model_R1 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R1.fit(x_train, y_train)
model_R2 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R2.fit(x2_train, y2_train)
model_R3 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R3.fit(x3_train, y3_train)
model_R4 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R4.fit(x4_train, y4_train)
model_R5 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R5.fit(x5_train, y5_train)
model_R6 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R6.fit(x6_train, y6_train)

Ridge(alpha=0.001, max_iter=1000, normalize=True)

In [42]:
print(
model_R1.score(x_test,y_test),
model_R2.score(x2_test,y2_test),
model_R3.score(x3_test,y3_test),
model_R4.score(x4_test,y4_test),
model_R5.score(x5_test,y5_test),
model_R6.score(x6_test,y6_test),
sep="\n"
)

0.8151312501840494
0.9001110002612236
0.9310939723686896
0.9213767152305414
0.9121014448669119
0.8954375591106718

## Random Forest

In [43]:
model_randomForest = RandomForestRegressor() # 생성할 트리 개수가 얼만큼이 좋은지 모르겠음
model_randomForest.fit(x_train, y_train)
model_randomForest.score(x_test,y_test)

0.9656692531227591

In [44]:
for i in sorted([(model_randomForest.feature_importances_[i], data.columns[i]) for i, v in enumerate(data.columns)], reverse=True):
    print(i[1], i[0])

내국인V 0.42045192789581937
내국인R 0.33345229021403977
내국인W 0.13455557560139458
내국인관광V 0.052534093439814036
단기외국인V 0.018621352729870543
장기외국인W 0.014542498962570935
장기외국인V 0.010709902588044426
장기외국인R 0.007691399257456379
내국인관광W 0.007440959310989995

# 저장

In [45]:
import joblib

In [46]:
joblib.dump(model_randomForest, '모델/유동인구 분석_RF.pkl')

['모델/유동인구 분석_RF.pkl']

In [47]:
df.to_csv("csv/유동인구 분석.csv",  index=False)