# 필요한 데이터 추출

In [4]:
import os

my_path="데이터/01_제공데이터_update(210811)"
my_paths = [ my_path + "/"+i for i in os.listdir(my_path)]
my_paths

['데이터/01_제공데이터_update(210811)/01_음식물쓰레기_FOOD_WASTE_210811_update.CSV',
 '데이터/01_제공데이터_update(210811)/02-1_내국인유동인구_KOREAN.CSV',
 '데이터/01_제공데이터_update(210811)/02-2_장기체류 외국인 유동인구_LONG_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/02-3_단기체류 외국인 유동인구_SHORT_TERM_FRGN.CSV',
 '데이터/01_제공데이터_update(210811)/03_거주인구_RESIDENT_POP.CSV',
 '데이터/01_제공데이터_update(210811)/04_음식관련 카드소비_CARD_SPENDING.CSV']

In [5]:
import pandas as pd
import numpy as np

In [6]:
df_1=pd.read_csv(my_paths[0], encoding='euc-kr')
df_3=pd.read_csv(my_paths[4], encoding='euc-kr')

In [7]:
df_1

          base_date city    emd_cd emd_nm em_area_cd  em_cnt    em_g  pay_amt
0        2018-01-01  제주시  50110670    외도동     W6X062       2   15500      464
1        2018-01-01  제주시  50110630    아라동     W6XA97      25   59800     1787
2        2018-01-01  제주시  50110630    아라동     W6XA96       8   25350      758
3        2018-01-01  제주시  50110630    아라동     W6XA95      12   30000      898
4        2018-01-01  제주시  50110630    아라동     W6XA94      14   44050     1317
...             ...  ...       ...    ...        ...     ...     ...      ...
2211440  2021-06-30  제주시  50110250    한림읍     W6XEB4      12   58250     1743
2211441  2021-06-30  제주시  50110250    한림읍     W6XEB7      15  111000     3326
2211442  2021-06-30  제주시  50110250    한림읍     W6XEB8      21   48300     1444
2211443  2021-06-30  제주시  50110250    한림읍     W6XEA2       5   22050      661
2211444  2021-06-30  제주시  50110640    오라동     W6XAD5       2    2900       87

[2211445 rows x 8 columns]

In [8]:
df_3

,base_year,base_month,city,emd_cd,emd_nm,sex,resid_reg_pop,foreign_pop,total_pop
0,2018,1,제주시,50110590,건입동,남성,5085,146,5231
1,2018,1,제주시,50110590,건입동,여성,4715,82,4797
2,2018,1,제주시,50110256,구좌읍,남성,7965,368,8333
3,2018,1,제주시,50110256,구좌읍,여성,7609,184,7793
4,2018,1,서귀포시,50130253,남원읍,남성,9806,428,10234
...,...,...,...,...,...,...,...,...,...
3607,2021,6,제주시,50110250,한림읍,여성,10341,1140,11481
3608,2021,6,제주시,50110600,화북동,남성,12062,169,12231
3609,2021,6,제주시,50110600,화북동,여성,12238,161,12399
3610,2021,6,서귀포시,50130550,효돈동,남성,2660,39,2699
3611,2021,6,서귀포시,50130550,효돈동,여성,2597,18,2615

In [9]:
df_3_back_up= df_3.copy()
df_1_back_up= df_1.copy()

In [10]:
# df_3=df_3_back_up.copy()
df_1=df_1_back_up.copy()

In [11]:
df_3=df_3.drop(["city","emd_cd","sex"], axis=1)

In [12]:
df_3 = df_3.astype({
    'base_year':"str",
    'base_month':"str",
})
df_3['base_month'] = df_3['base_month'].str.zfill(2)

In [13]:
df_3["base_date"]= df_3['base_year'] +"-"+ df_3['base_month']
df_3

,base_year,base_month,emd_nm,resid_reg_pop,foreign_pop,total_pop,base_date
0,2018,01,건입동,5085,146,5231,2018-01
1,2018,01,건입동,4715,82,4797,2018-01
2,2018,01,구좌읍,7965,368,8333,2018-01
3,2018,01,구좌읍,7609,184,7793,2018-01
4,2018,01,남원읍,9806,428,10234,2018-01
...,...,...,...,...,...,...,...
3607,2021,06,한림읍,10341,1140,11481,2021-06
3608,2021,06,화북동,12062,169,12231,2021-06
3609,2021,06,화북동,12238,161,12399,2021-06
3610,2021,06,효돈동,2660,39,2699,2021-06
3611,2021,06,효돈동,2597,18,2615,2021-06

In [14]:
df_3 = pd.DataFrame(df_3.groupby(["base_date","emd_nm"]).sum())
df_3 = df_3.reset_index()
df_3

     base_date emd_nm  resid_reg_pop  foreign_pop  total_pop
0      2018-01    건입동           9800          228      10028
1      2018-01    구좌읍          15574          552      16126
2      2018-01    남원읍          19112          628      19740
3      2018-01    노형동          53369         1589      54958
4      2018-01    대륜동          13473          178      13651
...        ...    ...            ...          ...        ...
1801   2021-06    표선면          12347          334      12681
1802   2021-06    한경면           9158          337       9495
1803   2021-06    한림읍          21232         3230      24462
1804   2021-06    화북동          24300          330      24630
1805   2021-06    효돈동           5257           57       5314

[1806 rows x 5 columns]

In [15]:
df_1=df_1.drop(["city", "emd_cd", "em_area_cd", "em_cnt","pay_amt"], axis=1)
df_1['base_date'] = df_1['base_date'].str[:-3]
df_1

        base_date emd_nm    em_g
0         2018-01    외도동   15500
1         2018-01    아라동   59800
2         2018-01    아라동   25350
3         2018-01    아라동   30000
4         2018-01    아라동   44050
...           ...    ...     ...
2211440   2021-06    한림읍   58250
2211441   2021-06    한림읍  111000
2211442   2021-06    한림읍   48300
2211443   2021-06    한림읍   22050
2211444   2021-06    오라동    2900

[2211445 rows x 3 columns]

In [16]:
left_df=pd.DataFrame(df_1.groupby(['emd_nm', 'base_date'])['em_g'].sum())
left_df

                      em_g
emd_nm base_date
건입동    2018-01    45646550
       2018-02    42953550
       2018-03    46422450
       2018-04    42438700
       2018-05    44893300
...                    ...
효돈동    2021-02    26128400
       2021-03    26845400
       2021-04    25200200
       2021-05    21724850
       2021-06    27554100

[1666 rows x 1 columns]

In [17]:
waste_resd_df = pd.merge(left=left_df, right= df_3, how="left", on=["emd_nm","base_date"])
idx=waste_resd_df[waste_resd_df['emd_nm']=='알수없음'].index
df=waste_resd_df.drop(idx)
df

     emd_nm base_date      em_g  resid_reg_pop  foreign_pop  total_pop
0       건입동   2018-01  45646550         9800.0        228.0    10028.0
1       건입동   2018-02  42953550         9814.0        224.0    10038.0
2       건입동   2018-03  46422450         9783.0        222.0    10005.0
3       건입동   2018-04  42438700         9788.0        229.0    10017.0
4       건입동   2018-05  44893300         9800.0        238.0    10038.0
...     ...       ...       ...            ...          ...        ...
1661    효돈동   2021-02  26128400         5289.0         65.0     5354.0
1662    효돈동   2021-03  26845400         5262.0         61.0     5323.0
1663    효돈동   2021-04  25200200         5267.0         59.0     5326.0
1664    효돈동   2021-05  21724850         5266.0         60.0     5326.0
1665    효돈동   2021-06  27554100         5257.0         57.0     5314.0

[1634 rows x 6 columns]

# 모델로 학습

## 데이터 준비

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [19]:
target = df['em_g']
data = df[df.drop(['em_g','emd_nm','base_date'],axis=1).columns]
data.shape, target.shape

((1634, 3), (1634,))

In [20]:
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=34)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((1307, 3), (327, 3), (1307,), (327,))

In [21]:
poly = PolynomialFeatures(2) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x2_train, x2_test, y2_train, y2_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x2_train.shape,x2_test.shape,y2_train.shape,y2_test.shape)

poly = PolynomialFeatures(3) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x3_train, x3_test, y3_train, y3_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x3_train.shape,x3_test.shape,y3_train.shape,y3_test.shape)

poly = PolynomialFeatures(4) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x4_train, x4_test, y4_train, y4_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x4_train.shape,x4_test.shape,y4_train.shape,y4_test.shape)

poly = PolynomialFeatures(5) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x5_train, x5_test, y5_train, y5_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x5_train.shape,x5_test.shape,y5_train.shape,y5_test.shape)

poly = PolynomialFeatures(6) # 2~6차
poly_x = pd.DataFrame(poly.fit_transform(data.values), columns=poly.get_feature_names(data.columns))
x6_train, x6_test, y6_train, y6_test = train_test_split(poly_x, target, test_size=0.2, random_state=34)
print(x6_train.shape,x6_test.shape,y6_train.shape,y6_test.shape)

(1307, 10) (327, 10) (1307,) (327,)
(1307, 20) (327, 20) (1307,) (327,)
(1307, 35) (327, 35) (1307,) (327,)
(1307, 56) (327, 56) (1307,) (327,)
(1307, 84) (327, 84) (1307,) (327,)

## LR L1

In [22]:
model_L1 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L1.fit(x_train, y_train)
model_L2 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L2.fit(x2_train, y2_train)
model_L3 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L3.fit(x3_train, y3_train)
model_L4 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L4.fit(x4_train, y4_train)
model_L5 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L5.fit(x5_train, y5_train)
model_L6 = Lasso(alpha=0.001, max_iter=1000, normalize=True)
model_L6.fit(x6_train, y6_train)

C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2416286195908352.0, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2016777941874048.0, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.0761865834036826e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.017344088541938e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.803600970506094e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(
C:\Users\HojunLee\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.7256436819987968e+17, tolerance: 455988236796947.4
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.001, normalize=True)

In [23]:
print(
model_L1.score(x_test,y_test),
model_L2.score(x2_test,y2_test),
model_L3.score(x3_test,y3_test),
model_L4.score(x4_test,y4_test),
model_L5.score(x5_test,y5_test),
model_L6.score(x6_test,y6_test),
sep="\n"
)

0.776032421094115
0.8051862678091081
0.8444469317318847
0.8477060028621093
0.8613274115575063
0.8671096518187369

## LR L2

In [24]:
model_R1 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R1.fit(x_train, y_train)
model_R2 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R2.fit(x2_train, y2_train)
model_R3 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R3.fit(x3_train, y3_train)
model_R4 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R4.fit(x4_train, y4_train)
model_R5 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R5.fit(x5_train, y5_train)
model_R6 = Ridge(alpha=0.001, max_iter=1000, normalize=True)
model_R6.fit(x6_train, y6_train)

Ridge(alpha=0.001, max_iter=1000, normalize=True)

In [25]:
print(
model_R1.score(x_test,y_test),
model_R2.score(x2_test,y2_test),
model_R3.score(x3_test,y3_test),
model_R4.score(x4_test,y4_test),
model_R5.score(x5_test,y5_test),
model_R6.score(x6_test,y6_test),
sep="\n"
)

0.7761115564499295
0.8052358119246634
0.8423135604724297
0.846006073839059
0.8558792791343346
0.8613249528065802

## Random Forest

In [26]:
model_randomForest = RandomForestRegressor() # 생성할 트리 개수가 얼만큼이 좋은지 모르겠음
model_randomForest.fit(x_train, y_train)
model_randomForest.score(x_test,y_test)

0.9530081583372987

# 저장

In [27]:
import joblib

In [28]:
joblib.dump(model_randomForest, '모델/거주인구 분석_RF.pkl')

['모델/거주인구 분석_RF.pkl']

In [29]:
df.to_csv("csv/거주인구 분석.csv",  index=False)